*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,body{
    height: 100%;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: blueviolet;

}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.img-sidebar{text-align: center;}

.img-sidebar img{
    width: 80%;
    border: 8px solid #9f51e6;
    border-radius: 50%;
}

.menu{
    margin: 20px 0;
    text-align: center;
    position: relative;
    left: -20px;

}

.menu a{
    color: white;
    opacity: 1;
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

}

